<table mdbTable>
  <thead >
    <tr>
      <th *ngFor="let head of headElements" scope="col" >{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let book of books">
      <th scope="row">{{book.id}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.yearOfPublication}}</td>
      <td><button mat-button (click)="deleteBook(book.id)">Delete</button>
      <td><button mat-button (click)="updateBook(book)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<app-add-book (refreshTable)="refreshTable($event)"></app-add-book>
