<div class="container">
  <h1>Add book</h1>
  <form #tdForm="ngForm" (ngSubmit)="addBook(tdForm)">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)] = "titleInputValue">
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" name="author" [(ngModel)] = "authorInputValue">
    </div>

    <div class="form-group">
      <label for="pages">Pages</label>
      <input type="text" class="form-control" id="pages" name="pages" [(ngModel)] = "pagesInputValue">
    </div>

    <div class="form-field">
      <input type="submit" value="Add">
    </div>
  </form>
</div>
